<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/plantilla :: head">
</head>
<body>
    <div class="wrapper">
        <div th:replace="layout/plantilla :: header"></div>
        <nav th:replace="layout/plantilla :: nav"></nav>
        <div th:replace="layout/plantilla :: sidebar"></div>
        <!-- Contenido principal -->
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Actualizar Matricula</h4>
                    </div>
                </div>
                <div>
                    <form th:action="@{/matriculas/update/{id}(id=${matricula.idMatricula})}" th:object="${matricula}" method="post">
                        <div>
                            <label for="alumno">Alumno</label>
                            <select th:field="*{alumno.idalumno}" class="form-control" id="alumno">
                                <option value="" disabled selected>Selecciona un Alumno</option>
                                <option th:each="alumno : ${alumnos}" 
                                        th:value="${alumno.idalumno}" 
                                        th:text="${alumno.nombre + ' ' + alumno.apellido}"></option>
                            </select>

                            <label for="clase">Clase</label>
                            <select th:field="*{clase.id}" class="form-control" id="clase">
                                <option value="0" disabled selected>Selecciona una Clase</option>
                                <option th:each="clase : ${clases}" 
                                        th:value="${clase.id}" 
                                        th:text="${clase.id}"></option>
                            </select>

                            <label for="estado">Estado</label>
                            <select th:field="*{estado}" class="form-control" id="estado">
                                <option value="" disabled selected>Selecciona un Estado</option>
                                <option value="Pagado">Pagado</option>
                                <option value="No pagado">No pagado</option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="layout/plantilla :: color" ></div>
    </div>
    <div th:replace="layout/plantilla :: scripts"></div>
</body>
</html>
