<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/plantilla2 :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="https://kit.fontawesome.com/fb02c212b7.js" crossorigin="anonymous"></script>
	<style>
        /* Estilo personalizado para alinear el formulario a la izquierda */
        .search-form {
            justify-content: flex-end; /* Alinea los elementos al inicio */
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div th:replace="layout/plantilla2 :: header"></div>
        <nav th:replace="layout/plantilla2 :: nav"></nav>
        <div th:replace="layout/plantilla2 :: sidebar"></div>
    </div>

    <div th:replace="layout/plantilla2 :: scripts"></div>
</body>
</html>


