<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/plantilla :: head">
</head>
<body>
    <div class="wrapper">
        <div th:replace="layout/plantilla :: header"></div>
        <nav th:replace="layout/plantilla :: nav"></nav>
        <div th:replace="layout/plantilla :: sidebar"></div>
        <!-- Contenido principal -->
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Crear Pago</h4>
                    </div>
                </div>
                <div>
                    <form th:action="@{/pagos}" th:object="${pago}" method="post">
                        <div>
                            <label for="matricula">Matrícula</label>
                            <select th:field="*{matricula.idMatricula}" class="form-control" id="matricula">
                                <option value="" disabled selected>Selecciona una Matrícula</option>
                                <option th:each="matricula : ${matriculas}" 
                                        th:value="${matricula.idMatricula}" 
                                        th:text="${matricula.idMatricula}"></option>
                            </select>

                            <label for="monto">Monto</label>
                            <input type="number" th:field="*{monto}" class="form-control" id="monto" placeholder="Monto">

                            <label for="metodoPago">Método de Pago</label>
                            <input type="text" th:field="*{metodoPago}" class="form-control" id="metodoPago" placeholder="Método de Pago">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="layout/plantilla :: color" ></div>
    </div>
    <div th:replace="layout/plantilla :: scripts"></div>
</body>
</html>
